* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container_1 {
    width: 92%;
    margin: auto;
}

.container_2 {
    width: 94%;
    margin: auto;
}

/* ================================================= */

#head {
    display: fixed;
    background-color: black;
}

.header {
    
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* display: fixed; */
    padding: 20px 0;
}

.h_left img {
    width: 55%;
}

.header .h_right ul li a {

    transition: 0.4s;
    text-decoration: none;
    color: white;
    list-style: none;

}

.header .h_right ul li a:hover {
    color: #FD4766;
}

.header .h_right ul li {
    margin-right: 40px;
    list-style: none;
    transition: 0.4s;
}

.header .h_right ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;

}

.h_button {
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 50px;
    width: 150px;
    height: 60px;
    text-align: center;
    padding-top: 17px;
    cursor: pointer;
    transition: 0.4s;
}


.h_button:hover {
    background-color: #FD4766;
    border: 2px solid #FD4766;
    color: white;
}

/* ================================================= */

#creative {
    background-image: url("../img/bg-image-26.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    z-index: 1000 !important;
    position: relative;

}

.c_text {
    position: absolute;
    top: 30%;
    left: 3%;
}

.black {
    background-color: black;
    opacity: 60%;
    z-index: 10;
    height: 600px;
}

/* #creative h1 {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    background: #fc00ff;

    background: -webkit-linear-gradient(to left, #00dbde, #fc00ff);
    background: linear-gradient(to left, #00dbde, #fc00ff);
} */

#creative h1 {
    font-size: 110px;
    color: #1C99FE;
}

#creative p {
    color: #C6C9D8;
    font-size: 25px;
    width: 76%;
    text-align: center;
    margin: auto;
}

#creative a {
    background-color: #FD4766;
    border: 1px solid #FD4766;
    color: white;
    height: 300px;
    width: 90px;
    font-weight: 600px;
    text-decoration: none;
    margin: 40px;
    border-radius: 50px;
    padding: 30px 70px;

    transition: 0.4s;
}

#creative a:hover {
    color: #FD4766;
    background-color: transparent;
    border: 1px solid #FD4766;
}

#creative p {
    margin-bottom: 70px;
}

/* ================================================= */

#all .box {
    width: 30%;
    margin: 15px;
    padding: 50px;
    font-size: 20px;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.lorem_p{
    color: #75779C;
    
}


#all .box i{
    color: #1C99FE;
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 30px;
    
}

/* ================================================= */

.circle {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 13px;

    position: fixed;
    right: 20px;
    bottom: 40px;
     scroll-behavior: smooth;

}

.circle i {
    color: white;
}

/* ================================================= */

#section_4{
    background-color: #FAFAFB;
    padding: 100px 0;
}

.s_4{
    display: flex;
    justify-content: space-between;
    /* width: 99%; */
}

.s_4 img{
    width: 95%;
    border-radius: 7px;
}

.f_left{
    /* width: 20%; */
}

.f_bottom_boxes{
    /* padding: 90px; */
    /* padding-top: 30px; */
    /* width: 40%; */

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}

.f_boxes{
    width: 50%;
    margin: 30px 0;
    font-size: 20px;
    /* padding: 10px; */
}

.f_title{
    margin-bottom: 100px;
}

.f_right{
    width: 60%;
}

.f_title h1{
    font-size: 53px;
    margin: 10px 0 50px 0;
}

.f_title p{
    font-weight: 700;
    color: #1C99FE;
}
.f_title .second_p{
    color: #75779C;
    font-weight: 400;
    font-size: larger;
}

.b_4_p{
    color: #75779C;
    font-weight: 400;
}


/* ================================================= */

.up{
    margin: 300px 0 50px 0;
}

.up p{
    color: #75779C;
    font-size: 20px;
    width: 50%;
}

.up .up_p{
    color: #1C99FE;
    font-weight: 700;
}



.up h1{
    color: #1F1F25;
    font-size: 50px;
}






.down .d_box img{
    border-radius: 7px;
    
    justify-content: space-between;
    margin: 20px 7px;
   
}

.down .d_box{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.b_text{
    position: absolute;
    bottom: 10%;
    left: 3%;
}

.b_text_2{
    position: absolute;
    bottom: 10%;
    left: 3%;
}

.b_text_3{
    position: absolute;
    bottom: 10%;
    left: 5%;
    /* width: 110%; */
}

.down .d_box  p{
    font-size: 20px;
    color: #75779C;
    width: 80%;
}


.down .d_box  h3{
    font-size: 35px;
    color: white;
}